{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rango - About
{% endblock %} 
{% block body_block %}
    <h1> Rango says...</h1>
    <div>
        hey there partner!
        <br/>
        <strong>{{ boldmessage }}</strong>
        <br/>
    </div>
    <div>
        <p> This tutorial has been put together by {{yourname}}</p>
        <img src="{% static "images/rango.jpg" %}"alt="Picture of Range" />          <br/>
        <img src="{{MEDIA_URL}}cat.jpg"  alt="Picture of a cat" />
    </div>

    <p> visits: {{ visits }}</p>  
    <button class="btn btn-primary"
        onClick="alert('You clicked the button using JavaScript.');">
        Click Me - I run JavaScript </button>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Speed</button>
    <p>This is a example</p>
    <p>This is another example</p>
 
{% endblock %}